TODO:
- Add meaningful colors to the plots
- Rename labels

## Import Libraries

In [1]:
import pandas as pd
import numpy as np

## Load Data

In [2]:
FILENAME = "fake_job_postings.csv"
INDEX = "job_id"

df = pd.read_csv(FILENAME)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17880 entries, 0 to 17879
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   job_id               17880 non-null  int64
 1   title                17880 non-null  object
 2   location             17534 non-null  object
 3   department           6333 non-null   object
 4   salary_range         2868 non-null   object
 5   company_profile      14572 non-null  object
 6   description          17879 non-null  object
 7   requirements         15185 non-null  object
 8   benefits             10670 non-null  object
 9   telecommuting        17880 non-null  int64
 10  has_company_logo     17880 non-null  int64
 11  has_questions        17880 non-null  int64
 12  employment_type      14409 non-null  object
 13  required_experience  10830 non-null  object
 14  required_education   9775 non-null   object
 15  industry             12977 non-null  object
 16  function             11425 non-null  object
 17  fraudulent           17880 non-null  int64
dtypes: int64(5), object(13)
memory usage: 2.5+ MB

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,1,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
1,2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
2,3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
3,4,Account Executive - Washington DC,"US, DC, Washington",Sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
4,5,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0

### Set Index

In [3]:
# Set index
df.set_index(INDEX, inplace=True)

## Clean Categorical Data

### Drop columns

In [4]:
columns_to_drop = ["location", "department", "salary_range", "industry"]
df.drop(columns_to_drop, axis=1, inplace=True)

### Binary columns

In [5]:
# Convert binary columns to boolean
bool_columns = ["telecommuting", "has_company_logo", "has_questions", "fraudulent"]
df[bool_columns] = df[bool_columns].astype("bool")

### Employment type

In [6]:
FULL_TIME = "Full-time"
PART_TIME = "Part-time"
OTHER = "Other"

# Map employment type values
df["employment_type"] = df["employment_type"].map({
    "Full-time": FULL_TIME,
    "Part-time": PART_TIME,
    "Other": OTHER,
    "Contract": OTHER,
    "Temporary": OTHER,
})

### Required experience

In [7]:
JUNIOR = "Junior"
STANDARD = "Standard"
SENIOR = "Senior"

# Map required experience values
df["required_experience"] = df["required_experience"].map({
    "Internship": JUNIOR,
    "Not Applicable": np.nan,
    "Mid-Senior level": STANDARD,
    "Associate": STANDARD,
    "Entry level": JUNIOR,
    "Executive": SENIOR,
    "Director": SENIOR
})

### Required education

In [8]:
HIGHSCHOOL = "Highschool"
UNDERGRADUATE = "Undergraduate"
POSTGRADUATE = "Postgraduate"
Other = "Other"

df["required_education"] = df["required_education"].map({
    "Bachelor's Degree": UNDERGRADUATE, 
    "Master's Degree": POSTGRADUATE,
    'High School or equivalent': HIGHSCHOOL, 
    'Unspecified': np.nan,
    'Some College Coursework Completed': HIGHSCHOOL, 
    'Vocational': OTHER, 
    'Certification': OTHER,
    'Associate Degree': UNDERGRADUATE, 
    'Professional': OTHER, 
    'Doctorate': POSTGRADUATE,
    'Some High School Coursework': HIGHSCHOOL, 
    'Vocational - Degree': OTHER,
    'Vocational - HS Diploma': OTHER
})

### Function

In [9]:
BUSINESS = "Business"
HEALTHCARE = "Healthcare"
INFORMATION_TECHNOLOGY = "Information Technology"
ENGINEERING = "Engineering"
DESIGN = "Design"
EDUCATION = "Education"
FINANCE = "Finance"
SCIENCE = "Science"
LEGAL = "Legal"
OTHER = "Other"

df["function"] = df["function"].map({
    'Marketing': BUSINESS, 
    'Customer Service': BUSINESS, 
    'Sales': BUSINESS,
    'Health Care Provider': HEALTHCARE, 
    'Management': BUSINESS, 
    'Information Technology': INFORMATION_TECHNOLOGY,
    'Other': OTHER, 
    'Engineering': ENGINEERING, 
    'Administrative': BUSINESS, 
    'Design': DESIGN, 
    'Production': BUSINESS,
    'Education': EDUCATION, 
    'Supply Chain': BUSINESS, 
    'Business Development': BUSINESS,
    'Product Management': BUSINESS, 
    'Financial Analyst': FINANCE, 
    'Consulting': BUSINESS,
    'Human Resources': BUSINESS, 
    'Project Management': BUSINESS, 
    'Manufacturing': BUSINESS,
    'Public Relations': BUSINESS, 
    'Strategy/Planning': BUSINESS, 
    'Advertising': BUSINESS, 
    'Finance': FINANCE,
    'General Business': BUSINESS, 
    'Research': OTHER, 
    'Accounting/Auditing': FINANCE,
    'Art/Creative': DESIGN, 
    'Quality Assurance': INFORMATION_TECHNOLOGY, 
    'Data Analyst': INFORMATION_TECHNOLOGY,
    'Business Analyst': BUSINESS, 
    'Writing/Editing': DESIGN, 
    'Distribution': BUSINESS, 
    'Science': SCIENCE,
    'Training': OTHER, 
    'Purchasing': BUSINESS, 
    'Legal': LEGAL
})

## Clean Text Data

In [10]:
text_columns = ["title", "company_profile", "description", "requirements", "benefits"]
TEXT_COLUMN_NAME = "text"

df[TEXT_COLUMN_NAME] = df.loc[:, text_columns] \
    .fillna("") \
    .apply(lambda row: " ".join([row[col] for col in text_columns]), axis=1)

df.drop(text_columns, axis=1, inplace=True)
df.head()

,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,function,fraudulent,text
job_id,,,,,,,,,
1,False,True,False,Other,Junior,NaN,Business,False,"Marketing Intern We're Food52, and we've creat..."
2,False,True,False,Full-time,NaN,NaN,Business,False,Customer Service - Cloud Video Production 90 S...
3,False,True,False,NaN,NaN,NaN,NaN,False,Commissioning Machinery Assistant (CMA) Valor ...
4,False,True,False,Full-time,Standard,Undergraduate,Business,False,Account Executive - Washington DC Our passion ...
5,False,True,True,Full-time,Standard,Undergraduate,Healthcare,False,Bill Review Manager SpotSource Solutions LLC i...

## Export Data

In [11]:
df.to_csv("cleaned_" + FILENAME)